<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" 
    crossorigin="anonymous"> <!--used CDN to get bootstrap(for css)-->
    <title>Conference Management Tool</title> <!--title-->
</head>
<body>
    <p class="text-info display-5 text-center">Conference Management Tool</p>
    <p class="text-secondary display-6 text-center">Create New Conference</p>
    

     
    <form>
        <div class="form-group">
          <label for="conferencename">Conference Name</label>
          <input type="conferencename" class="form-control" id="conferencename1" aria-describedby="Conferencename" placeholder="Name of the Conference">
          
        </div>
        <div class="form-group">
          <label for="Conferencekeywords">Conference Keywords</label>
          <input type="ConferenceKeywords" class="form-control" id="Conference Keywords" placeholder="Automation, Security....">
        </div>
        <div class="form-group">
            <label for="Conferencetypes">Conference Types</label>
            <input type="Conferencetypes" class="form-control" id="Conferencetypes1" placeholder="Single/Double blind">
          </div>
      
        
      



        
       
      </form>
      <div class="d-grid gap-2">  
        <button class="btn btn-secondary" type="button">Add Organiser</button>
        <button class="btn btn-secondary" type="button">Add Topic</button>
      </div>
     

      
 
   


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" 
      crossorigin="anonymous"></script> <!--Bootstrap for java-->
      
  </body>
  </html>
    